.contenedor_contenido{
    display: flex;
    margin: 5px;
    justify-content: space-around;
}
.contenedor_tabla_frutas{
background-color: aquamarine;
width: 100%;
margin: 5px;
border-radius: 30px;
}

.contenedor_carrito_compra{
background-color: peru;
width: 45%;
margin: 5px;
border-radius: 20px;
height: 500px;
}

